<header class="header-site" role="banner">
    <div class="content">
        <div class="header-logo">
            <img src="/assets/img/logo.png" alt="">
        </div>
        <div class="header-content">
            <h1>
                <span class="header-title">{{site.event_name}}</span>
                <span class="header-description">{{site.event_description}}</span>
                <span class="header-subdescription">{{site.event_date}}</span>
                <span class="header-subdescription">{{site.event_location}}</span>
                <div class="action-buttons">
                    <div class="left">
                        <button class="btn">
                            <h3>
                                <a href="http://">
                                    <b>
                                        ANSWER OUR SURVEY
                                    </b>
                                </a>
                            </h3>
                        </button>
                    </div>
                    <div class="right">
                        <button class="btn">
                            <h3>
                                <a href="http://">
                                    <b>
                                        ANSWER OUR SURVEY
                                    </b>
                                </a>
                            </h3>
                        </button>
                    </div>
                </div>
            </h1>
        </div>
    </div>
    <!-- <a role="button" class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a> -->
    <!-- {% include menu-search.html %} -->
</header>