html,
body
	height 100%


$bg
	background main
	height 100%
	.content
		align(both)
		text-align center
		center(rem(1024px))
    +below(rem(1024px))
			padding-left rem(20px)
			padding-right rem(20px)

// Header home
.header-site
	@extends $bg
	h1,h2
		color: sec
		text-align left
	.header-logo
		+above(cut)
			column(3/10)
		img
			max-height: rem(315px)
	.header-content
		column(7/10)
		.header-title
			mainFont()
			font-size rem(15px)
			display block
			margin rem(20px) 0
			+above(cut)
				font-size rem(30px)
		.header-description
			font-weight: bolder
			font-size rem(24px)
			display block
			+above(cut)
				margin rem(20px) 0
				font-size rem(48px)
		.header-subdescription
			mainFont()
			color: mediumGray
			font-style: italic
			font-size rem(12px)
			display block
			+above(cut)
				margin-bottom 0
				font-size rem(24px)
		.action-buttons
			margin rem(20px) 0
			.left
				+above(cut)
					column(1/2)
				.btn
					background: redishOrange
					a
						mainFont()
						color: main
						text-decoration: none
			.right
				+above(cut)
					column(1/2)
				.btn
					background: lightBlue
					a
						mainFont()
						color: main
						text-decoration: none
// Header Post
.header-post
	@extends $bg
	.content
		+above(cut)
			center(1024px)
	.subheader
		display table
		padding 20px
		a
			border 2px solid sec
			border-radius 20px
			padding 0 10px
			+above(cut)
				padding 0 10px

	.date
		mainFont(300)
		font-size rem(16px)
	h1
		text-transform uppercase
		font-size rem(30px)
		margin 0 0 30px
		+above(cut)
			font-size rem(60px)
	.subtitle
		mainFont(300)
		font-size rem(20px)
	h1,.subtitle, .date
		color sec
		text-align center
	p
		color sec
		text-decoration none
		mainFont(300)
		font-size rem(18px)