// COLORS
main = #FFF9DF
hover = darken(main, 50%)
sec  = #31516c
lightBlue = #80b8c3
lightGray = #F2F2F2
mediumGray = #818181
redishOrange = #EC695A
texts = #333333
colorcode = #3085F4
// Resolution
cut = rem(1025)